// ion-content {
//   --background: none;
// }

capacitor-google-map {
  display: inline-block;
  width: 100%;
  height: 50%;
 background: none;

}

ion-card{
  display: flex;
}
.container{
  width: 100%;
  height: 50%;
  padding: 10%;
}
